<main class="p-4 min-h-full flex justify-center flex-col">
  <form [formGroup]="formGroup" >
    <ion-item class="rounded ">
      <ion-label class="pr-2">Cuantia: </ion-label>
      <ion-input class="rounded text-center bg-black text-white" formControlName=monto [(ngModel)]="monto" type="number" min="0" placeholder="0"></ion-input>
    </ion-item>
    <ion-item class="rounded ">
      <ion-label class="pr-2">Concepto: </ion-label>
      <ion-input class="rounded text-center bg-black text-white" formControlName=concepto [(ngModel)]="concepto" type="text" min="0" placeholder="Concepto"></ion-input>
    </ion-item>
    <ion-item class="rounded pt-3" *ngIf="this.isSpend">
      <ion-select formControlName=anotacion [(ngModel)]="anotacion" class="rounded text-center" placeholder="Anotación" >
        <ion-select-option *ngFor="let item of arrayAnotaciones"  value={{item.id}}>{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="rounded pt-3">
      <ion-select formControlName=fondo  [(ngModel)]="fondo" class="rounded text-center" placeholder="Fondo" >
        <ion-select-option *ngFor="let item of arrayFondos"  value={{item.id}}>{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>

  </form>
<div *ngIf="validAll()">
<div class="ion-text-right" (click)="procesarForm()">
  <ion-icon class="p-6 w-12 h-12 text-black" name="arrow-forward-outline"></ion-icon>
</div>
</div>


</main>
