<app-my-header title={{titulo}}></app-my-header>

<ion-content class="contain">

  <div class=" flex m-5 box">
    <div class="avatar-image w-24 h-24 rounded-full">
      <ion-icon class="w-24 h-24 rounded-full" name="person-outline"></ion-icon>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h3 class="p-0 m-0 text-black">{{Usuario.name}}</h3>
      <h6 class="p-0 m-0 ml-2 mt-2 text-gray-500">{{Usuario.idCliente}}</h6>
    </div>
  </div>

  <div class=" flex font-bold">
    <button class=" flex rounded-md ml-5 mr-1 bg-blue-400 text-center justify-center items-center" style="width: 50%">
      <ion-icon class="w-8 h-8" name="construct-outline"></ion-icon>
    </button>
    <div *ngIf="Usuario.ahorro>0" class="flex box ml-1 mr-5 text-black items-center" style="width: 50%">
      Ahorro : <span class="text-green-700">+{{Usuario.ahorro}}</span>
    </div>
    <div *ngIf="Usuario.ahorro<0" class="flex box ml-1 mr-5 text-black items-center" style="width: 50%">
      Ahorro : <span class="text-red-700">-{{Usuario.ahorro}}</span>
    </div>

  </div>
  <canvas id="realtime" width="400" height="300">{{chart}}</canvas>
</ion-content>
