<app-my-header title={{titulo}}></app-my-header>

<ion-content>
  <ion-segment class="bg-gray-500 rounded " (ionChange)="segmentChanged($event)" [(ngModel)]="page">
    <ion-segment-button value="Ingresos">
      <ion-label class="font-bold">Ingreso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Gastos">
    <ion-label class="font-bold">Gasto</ion-label>
  </ion-segment-button>
    <ion-segment-button value="Ingresos y Gastos">
      <ion-label class="font-bold">Todo</ion-label>
    </ion-segment-button>
  </ion-segment>
<div class="min-w-full flex flex-col ">
  <div class="flex justify-center">

  <h1 class="text-black">Buscar en: </h1>
  <h1 class="font-bold text-black pl-1">{{page}}</h1>
  </div>

  <app-form-register ></app-form-register>
</div>



</ion-content>
