<div class="pt-4 min-w-full h-auto " *ngFor="let item of arraysOperation">
  <button type="button" class="collapsible bg-gray-200 shadow-md grid grid-cols-2" >
    <p *ngIf="item.isSpend" class="col-span-1 ml-2 text-red-600">-{{item.monto}}€</p>
    <p *ngIf="!item.isSpend" class="col-span-1 ml-2 text-green-600">+{{item.monto}}€</p>
    <p class="col-span-1 text-center">{{item.anotacion.name}}</p>
  </button>
  <div class="content bg-gray-400">
    <h1 class="text-black font-bold text-base">Concepto: <p class="text-base font-normal">{{item.concepto}}</p></h1>
    <h1 class="text-black font-bold text-base">Fecha operación: <p
      class="text-base font-normal">{{item.fechaOperacion}}</p>
    </h1>
  </div>
</div>


