<div class="pt-4 min-w-full h-auto ">
  <button type="button" class="collapsible bg-gray-200 shadow-md grid grid-cols-2">
    <p class="col-span-1 ml-2 text-red-600">-200€</p>
    <p class="col-span-1 text-center">Agua</p>
  </button>
  <div class="content bg-gray-400">
    <h1 class="text-black font-bold text-base">Concepto:  <p class="text-base font-normal">Factura de agua</p></h1>
    <h1 class="text-black font-bold text-base">Fecha operación: <p class="text-base font-normal">{{fechaOperacion}}</p></h1>
  </div>
</div>

<div class="pt-4 min-w-full h-auto ">
  <button type="button" class="collapsible bg-gray-200 shadow-md grid grid-cols-2">
    <p class="col-span-1 ml-2 text-green-600">+200€</p>
    <p class="col-span-1 text-center">Cumpleaños</p>
  </button>
  <div class="content bg-gray-400">
    <h1 class="text-black font-bold text-base">Concepto:  <p class="text-base font-normal">Mi abuela</p></h1>
    <h1 class="text-black font-bold text-base">Fecha operación: <p class="text-base font-normal">{{fechaOperacion}}</p></h1>
  </div>
</div>
