.container {
  background-image: url("../../../resources/splash.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 8px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 8px -4px rgba(0, 0, 0, 0.42);
}
